{% include "header.html" with title="Assignments" %}

<main>
    <h1>All assignments</h1>
    <table class="assignments-table">
        <tr>
            <th class="left-align">Assignment</th>
            <th class="left-align">Due Date</th>
            <th class="right-align">Weight</th>
        </tr>
        {% for assignment in assignments %}
        <tr>
            <td class="left-align">
                <a href="/{{ assignment.id }}/">{{ assignment.title }}</a>
            </td>
            <td class="left-align">{{ assignment.deadline|date:"M d" }}</td>
            <td class="right-align">{{ assignment.weight }}</td>
        </tr>
        {% endfor %}
    </table>
</main>