<!DOCTYPE html>
<title>Assignments - CS 3500</title>
<meta charset="utf-8">
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">
<header>
    <nav>
        <ul>
            <li class="CS3550">CS 3550</li>
            <li><a title="Links to assignments page" href="/static/assignments.html">Assignments</a></li>
            <li class="profile"><a title="Links to profile page" href="/static/profile.html">Profile</a></li>           
        </ul>
    </nav>
</header>

<main>
    <h1>All assignments</h1>
    <table class="assignments-table">
        <tr>
            <th class="left-align">Assignment</th>
            <th class="left-align">Due Date</th>
            <th class="right-align">Weight</th>
        </tr>
        <tr>
        <td>
            <a title="Links to Github username assignment" href="/static/index.html">Github username</a>
        </td>
        <td>Aug 01</td>
        <td class="right-align">1</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw1 assignment" href="/static/index.html">Homework 1 (HTML)</a>
        </td>
        <td>Sep 08</td>
        <td class="right-align">100</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw2 assignment" href="/static/index.html">Homework 2 (CSS)</a></td>
        <td>Sep 22</td>
        <td class="right-align">100</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw3 assignment" href="/static/index.html">Homework 3 (Backend)</a></td>
        <td>Oct 27</td>
        <td class="right-align">100</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw4 assignment" href="/static/index.html">Homework 4 (Deploy)</a>
        </td>
        <td>Nov 10</td>
        <td class="right-align">100</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw5 assignment" href="/static/index.html">Homework 5 (Permissions)</a>
        </td>
        <td>Nov 24</td>
        <td class="right-align">100</td>
        </tr>
        <tr>
        <td>
            <a title="Links to hw6 assignment" href="/static/index.html">Homework 6 (JS)</a>
        </td>
        <td>Dec 08</td>
        <td class="right-align">100</td>
        </tr>
    </table>
</main>