<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - CS 3500</title>
    <meta charset="utf-8">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="CS3550">CS 3550</li>
                <li><a title="Links to assignments page" href="/">Assignments</a></li>
                <li class="profile"><a title="Links to profile page" href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
</body>
<script type="module" src="/static/main.js"></script>