{% include "header.html" with title=assignment.title %}

<main>
    <h1>{{ assignment.title }}</h1>
    <p class="due-date">Due {{ assignment.deadline|date:"F d"}}, total of {{ assignment.weight }} point{{ assignment.weight|pluralize:"s"}}</p>
    
    {% if is_ta %}
        <div class="index-action">
            <p class="index-action-desc1">Currently {{ total_submissions }}/{{ total_students }} submission{{ total_students|pluralize:"s" }}</p>
            <p class="index-action-desc2">{{ submissions_assigned_to_you }} submission{{ submissions_assigned_to_you|pluralize:"s" }} assigned to you
                <a title="Links to submissions page" href="/{{ assignment.id }}/submissions" class="action-grade-button">Grade</a>
            </p>
        </div>
    {% else %}
        <div class="index-action">
            <p class="index-action-desc1">{{ submission_info|safe }}</p>
            {% if not is_due %}
                <form method="post" action="/{{ assignment.id}}/submit/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file" accept=".pdf, .doc, .docx" required>
                    <button type="submit">Submit Assignment</button>
                </form>
            {% endif %}

        </div>
    {% endif %}

    <div class="description">
        <h2 class="title">Description</h2>
        <p>{{ assignment.description|safe }}</p>
    </div>
</main>

