{% include "header.html" with title="Login" %}

<main>
    <h1>Log in</h1>
    <form action="/profile/login" method="post" class="login-form"> 
        {% csrf_token %}
        <div class="form-row">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" tabindex="1" autofocus>
        </div>       
        <div class="form-password">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" tabindex="2">
        </div>
        <div class="form-button">
            <button tabindex="3">Log in</button>
        </div>
    </form> 
</main>