{% include "header.html" with title="Profile" %}

<main>
    <h1>Your grades</h1>
    <form action="login.html" class="profile-action">
        <p class="profile-action-desc">Currently logged in as {{ user.username }}. 
            <a title="Logs the user out of account" href="/profile/logout" role="button" class="action-logout-button">Log out</a>
        </p>
        
    </form>
    <table>
        <tr>
            <th class="left-align table-border-bottom">Assignment</th>
            <th class="left-align table-border-bottom">Graded</th>
        </tr>

        {% for item in assignments_and_counts %}
        <tr>
            <td>
                <a title="Links to {{ item.assignment.title }} assignment" href="/{{ item.assignment.id }}/">{{ item.assignment.title }}</a>
            </td>
            <td>
                {{ item.count }}
            </td>
        </tr>
        {% endfor %}
    </table>
</main>