{% include "header.html" with title="Profile" %}

<main>
    <h1>Your grades</h1>
    <form action="login.html" class="profile-action">
        <p class="profile-action-desc">Currently logged in as {{ user.username }}. 
            <a title="Logs the user out of account" href="/profile/logout/" role="button" class="action-logout-button">Log out</a>
        </p>
    </form>
    {% if is_ta %}
    <table>
        <thead>
            <tr>
                <th class="left-align table-border-bottom">Assignment</th>
                <th class="right-align table-border-bottom sortable">Graded</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in assignments_and_counts %}
            <tr data-index="{{ forloop.counter }}">
                <td>
                <a title="Links to {{ item.assignment.title }} assignment" href="/{{ item.assignment.id }}/">{{ item.assignment.title }}</a>
                </td>
                <td class="right-align" data-value="{{ item.count }}">{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table>
        <thead>
            <tr>
                <th class="left-align table-border-bottom">Assignment</th>
                <th class="right-align table-border-bottom sortable">Score</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in assignments_and_scores %}
            <tr data-index="{{ forloop.counter }}">
                <td>
                <a title="Links to {{ item.assignment.title }} assignment" href="/{{ item.assignment.id }}/">{{ item.assignment.title }}</a>
                </td>
                <td class="right-align" data-value="{{ item.score }}" data-weight="{{ item.assignment.weight }}">{{ item.score }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="left-align bold">Final Grade</td>
                <td class="right-align bold">{{ final_grade }}</td>
            </tr>
        </tfoot>
    </table>

    <script type="module">
        import {make_grade_hypothesized} from "/static/main.js";
        make_grade_hypothesized($("table"));
    </script>
    {% endif %}
</main>

<script type="module">
    import {make_table_sortable, make_grade_hypothesized} from "/static/main.js";
    make_table_sortable($("table"));
</script>