{% include "header.html" with title="Submissions" %}

<main>
    <h1>{{ assignment.title }}</h1>
    <p class="submissions-desc">All grades out of {{ assignment.points }} </p>
    <form action="/{{ assignment.id }}/grade" method="post" class="submissions-form">
      {% csrf_token %}
      <table>
        <tr>
          <th class="left-align table-border-bottom">Student</th>
          <th class="left-align table-border-bottom">Submission</th>
          <th class="left-align table-border-bottom">Grade</th>
        </tr>

        {% for submission in submissions %}
          <tr>
              <td>{{ submission.author.username }}</td>
              <td><a title="Links to {{ submission.author.username }} submission" href="{{ submission.file.url }}">Submission</a></td>
              <td>
                  <input title="{{ submission.author.username }} grade" type="number" name="grade-{{ submission.id }}" min=0 step=0.01 max={{assignment.points}} value={{submission.score}}>
              </td>
          </tr>
        {% endfor %}
      </table>
      
      <div class="form-buttons">
        <button>Submit</button>
        <a title="Links back to hw1 page" href="/{{ assignment.id }}/" role="button">Back to assignment</a>
      </div>
    </form>
</main>