@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

output {
    color: red;
}

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    padding: 0 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.25;
}

table {
    line-height: 1.5;
    width: 100%;
}
.table-border-bottom {
    border-bottom: 1px solid lightgray;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

/* navigation bar */
header {
    background-color: lightgray;
    box-shadow: 0 0 5px gray;
    margin-bottom: 3rem;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    max-width: 50rem;
    padding: 0 1rem;
}
nav a {
    font-size: 1.5rem;
    color: dimgrey;
    text-decoration: none;
    margin-left: 1rem;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    color: black;
}
nav .CS3550 {
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
}
nav .profile {
    margin-left: auto;
}

/* index.html and profile.html action boxes */
.index-action {
    padding: 1rem;
    border: 2px solid darkblue;
    background-color: rgb(169, 192, 245);
}
.index-action-desc1 {margin-top: 0; }
.index-action-desc2 {margin-bottom: 0; }

.profile-action {
    border: 2px solid darkblue;
    background-color: rgb(169, 192, 245);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.profile-action-desc {
    margin-top: 0;
    margin-bottom: 0;
}

.action-grade-button, .action-logout-button {float: right; }

/* spacing elements */
.submissions-desc { margin-top: 0.2rem}
.description .title {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1 {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
}
.due-date {margin-top: 0.2rem;}

/* image border */
img {border: 2px solid black; }

/* login page form */
.login-form * {
    font-size: 1.25rem;
}
.login-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-form label {padding-right: 1rem; }
.login-form input {
    width: 50%;
    float: right;
}
.login-form button {width: 50%;}
.login-form .form-button {
    text-align: center;
}
.assignments-table {
    margin-top: 1rem;
}

/* submissions page form */
.submissions-form .form-buttons {
    display: flex;
    gap: 1rem;
}

.bold {
    font-weight: bold;
}