@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.25;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.25;
}

table {
    line-height: 1.5;
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
}

.description h2 {
    font-size: 1rem;
}

.login-form label {
    font-size: 1.25rem;
}

.login-form input {
    font-size: 1.25rem;
}

.login-form button {
    font-size: 1.25rem;
}